* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/search.png");
  background-size: cover;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(10, 10, 10);
}


.container {
  width: 80%;
  margin: 0 auto;
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #b2b6b8; 
  padding: 20px;
  border-radius: 8px;
}

.search-box .logo {
  width: 50px;
  height: auto;
}

.search-box form {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-box input,
.search-box button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-box input[type="date"],
.search-box input[type="text"] {
  width: 220px;
}

.search-box button {
  background-color: #5a6bef; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-box button:hover {
  background-color: #5699c2; 
}

.result-box {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  color: #444;
  font-size: 15px;
}

thead th {
  background-color: #d3d3d3;
  color: #333;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid #bbb;
}

tbody td {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #444;
}

tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

tbody tr:hover td {
  background-color: #e1e1e1;
}

.bus-btn {
  color: #1d0dff;
  text-decoration: none;
  font-weight: bold;
}

.bus-btn:hover {
  text-decoration: underline;
}

.action-btn {
  padding: 8px 15px;
  background-color: #0077ff;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
  border: none;
}

.action-btn:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .search-box form {
    flex-direction: column;
    gap: 10px;
  }

  .search-box input,
  .search-box button {
    width: 100%;
  }

  table {
    font-size: 0.9em;
  }

  th,
  td {
    padding: 10px;
  }
}
